@charset "utf-8";
/* CSS Document */
.login-page {
  width: 50%;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  background: #FFFFFF;
  width: 70%;
  margin: 0 auto 10px;
  padding: 45px;
  text-align: center;
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #505050;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
}

.form button a {
	text-decoration: none;
	color: white;
}

.form a{
	color: black;
}

.form button:hover,.form button:active,.form button:focus, .form button a:hover {
  background-color: slategrey;
}

@media only screen and (min-width:150px) and (max-width:400px){
	.login-page {
	  width: 95%;
	}
}

@media only screen and (min-width:401px) and (max-width:800px){
	.login-page {
	  width: 95%;
	}
}

@media only screen and (min-width:801px) and (max-width:1000px){
	.login-page {
	  width: 95%;
	}
}

