

/* -------------STYLE FOR BODY-------------- */
body {   /* -------For styling and set the body section that contains content, images, etc. Like set the font-color, background color, font family, margin, etc.-------------- */
margin:.5em; 
padding:0; 
height:100%; 
background-color:#ffffff;
color:#000000;  
text-align:center;
font-family:Arial, Helvetica, sans-serif;
font-size:.9em;
}

a { /* -------For styling and set the style of hyperlink in the page-------------- */
color:#cc0000;
text-decoration:underline;
}

a:hover { /* -------For styling and set the style of hover. Hover used to select elements when you mouse over them-------------- */
color:#ffffff;
background-color: #cccccc;
text-decoration:none;
}

img {
	width: 100%;
}

blockquote {  /* -------For styling the quotation element-------------- */
margin:1em;
padding:.5em .5em .5em 85px;
background-color:#D7ECF8;
}

hr {  /* -----To set and style the horizontal line that separate document sections------- */
margin-bottom:20px;
border:none;
width:99%;
color:#eeeeee;
background-color:#eeeeee;
height:1px;
clear:both;
}

td.desc {  /* -------For styling and set the style of cell (table data)------- */
padding:4px;
text-align:left;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:.7em;
}


#postHeader {  /* -------For styling and set the font and its padding on navigation bar where there are menu like Home, contact, about us, etc.----------- */	
margin:0 auto;
padding:0 .2em .3em .2em;
width:720px;
text-align:right;
vertical-align: middle;	
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:.7em;
text-transform:uppercase;
}

#centerColumn {  /* -------To make the content on the navigation bar and header centered only in the middle of the page. Not fully from the left to right page.------------ */	
margin:0 auto;
padding:1em;
width:720px;
text-align:left;
vertical-align: middle;	
background-color:#ffffff;
}

#centerColumn h2 { /* -------To style all the h2 sentence on the center column: in their font-family, margin, font-size, and padding------------ */	
margin:0 0 -.5em 0;
padding:.75em 0 0 0;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:1.1em;
}

#centerColumn h3 { /* -------To style all the h3 sentence on the center column: in their font-family, margin, font-size, and padding------------ */
margin:0 0 -.5em 0;
padding:.75em 0 0 0;
font-size:.8em;
font-weight:lighter;
letter-spacing:.1em;
}

#navbar { /* -------To style the navigation bar background------------ */
margin:-1em -1em 0 -1em; /* Mozzila attributes */
padding:1em 0 1em 0 !important; /* IE specific attributes */
padding:1em 0 0 0;
background-color:#cccccc;
}

#navbar ul { /* -------To style and set The block element used to designate unordered list on the navigation bar------------ */
margin:0 0 -1em .3em !important;
margin:.3em 0 0 .3em;
padding:0 0 1em 0;
list-style:none;
background-color:#cccccc;
}

#navbar li { /* -------To style and set The block element used to represent an item in a list on the navigation bar------------ */
margin:0 0 0 -.27em;
padding:.2em 0 .2em 0 !important;
padding:1em 0 1em 0;
list-style:none;
display:inline;
background-color:#cccccc;
}

#navbar li a { /* -------To style and set The block element used to represent an item in a list on the navigation bar and also the hyperlink in navigation bar------------ */
margin:0 0 0 0;
text-decoration: none;
padding:1em .5em 1em .5em !important;
padding:1em .5em 0 .5em;
}

#header { /* -------To style and set The header of the page------------ */
margin:0 -1em 0 -1em;
padding:0 0 0 0;
background-color: #cccccc;
border-top:1px solid #ffffff;
text-align: center;
}

#header h1 { /* -------To style and set The h1 sentence on the header of the page------------ */
margin:0 0 -14px 10px;
padding:10px 0 0 .9em;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:1.7em;
font-weight:lighter;
letter-spacing:.15em;
color:#000000;
}

#header h2 { /* -------To style and set The h2 sentence on the header of the page------------ */
margin:0 0 0 0;
padding:1em 0 0 30px;
font-size:.9em;
font-weight:300;
letter-spacing:.1em;
color:#000000;
}

#cell_1 { /* -------To style and set The first cell (bigger than box) after the header------------ */
margin:0 5px 1em 0;
padding:8px;
float:left;
width:210px;
height: 350px;
background-color:#cccccc;
}

#cell_2 { /* -------To style and set The second cell (bigger than box) after the header------------ */
margin:0 14px 1em 14px;
padding:8px;
float:left;
width:210px;
height: 350px;
background-color:#cccccc;
}

#cell_3 { /* -------To style and set The third cell (bigger than box) after the header------------ */
margin:0 0 1em 5px;
padding:8px;
float:left;
width:210px;
height: 350px;
background-color:#cccccc;
}

#cell_4 { /* -------To style and set The first cell (bigger than box) after the header------------ */
margin:0 5px 1em 0;
padding:8px;
float:left;
width:210px;
height: 350px;
background-color:#cccccc;
}

#cell_5 { /* -------To style and set The second cell (bigger than box) after the header------------ */
margin:0 14px 1em 14px;
padding:8px;
float:left;
width:210px;
height: 350px;
background-color:#cccccc;
}

#cell_6 { /* -------To style and set The third cell (bigger than box) after the header------------ */
margin:0 0 1em 5px;
padding:8px;
float:left;
width:210px;
height: 350px;
background-color:#cccccc;
}

#cell_7 { /* -------To style and set The first cell (bigger than box) after the header------------ */
margin:0 5px 1em 0;
padding:8px;
float:left;
width:210px;
height: 350px;
background-color:#cccccc;
}


#cell_8 { /* -------To style and set The second cell (bigger than box) after the header------------ */
margin:0 14px 1em 14px;
padding:8px;
float:left;
width:210px;
height: 350px;
background-color:#cccccc;
}

#cell_9 { /* -------To style and set The third cell (bigger than box) after the header------------ */
margin:0 0 1em 5px;
padding:8px;
float:left;
width:210px;
height: 350px;
background-color:#cccccc;
}

#cell_1 p, #cell_2 p, #cell_3 p, #cell_4 p, #cell_5 p, #cell_6 p, #cell_7 p, #cell_8 p, #cell_9 p { /* -------To style and set The pharagraph on first, second, third cell (bigger than box) after the header------------ */
font-size:.75em;
color:#000000;
}

#cell_1 h2 { /* -------To style h2 sentence on first cell (bigger than box) after the header------------ */
margin:0 0 -4px 0 !important;
margin:0 0 -20px 0;
padding:4px 0 10px 0;
font-family:Georgia, "Times New Roman", Times, serif;
color:#000000;
font-weight:bold;
}

#cell_2 h2 { /* -------To style h2 sentence on The second cell (bigger than box) after the header------------ */
margin:0 0 -4px 0 !important;
margin:0 0 -20px 0;
padding:4px 0 10px 0;
font-family:Georgia, "Times New Roman", Times, serif;
color:#000000;
font-weight:bold;
}

#cell_3 h2 { /* -------To style h2 sentence on The third cell (bigger than box) after the header------------ */
margin:0 0 -4px 0 !important;
margin:0 0 -20px 0;
padding:4px 0 10px 0;
font-family:Georgia, "Times New Roman", Times, serif;
color:#000000;
font-weight:bold;
}

#cell_4 h2 { /* -------To style h2 sentence on The third cell (bigger than box) after the header------------ */
margin:0 0 -4px 0 !important;
margin:0 0 -20px 0;
padding:4px 0 10px 0;
font-family:Georgia, "Times New Roman", Times, serif;
color:#000000;
font-weight:bold;
}

#cell_5 h2 { /* -------To style h2 sentence on The third cell (bigger than box) after the header------------ */
margin:0 0 -4px 0 !important;
margin:0 0 -20px 0;
padding:4px 0 10px 0;
font-family:Georgia, "Times New Roman", Times, serif;
color:#000000;
font-weight:bold;
}

#cell_6 h2 { /* -------To style h2 sentence on The third cell (bigger than box) after the header------------ */
margin:0 0 -4px 0 !important;
margin:0 0 -20px 0;
padding:4px 0 10px 0;
font-family:Georgia, "Times New Roman", Times, serif;
color:#000000;
font-weight:bold;
}

#cell_7 h2 { /* -------To style h2 sentence on The third cell (bigger than box) after the header------------ */
margin:0 0 -4px 0 !important;
margin:0 0 -20px 0;
padding:4px 0 10px 0;
font-family:Georgia, "Times New Roman", Times, serif;
color:#000000;
font-weight:bold;
}

#cell_8 h2 { /* -------To style h2 sentence on The third cell (bigger than box) after the header------------ */
margin:0 0 -4px 0 !important;
margin:0 0 -20px 0;
padding:4px 0 10px 0;
font-family:Georgia, "Times New Roman", Times, serif;
color:#000000;
font-weight:bold;
}

#cell_9 h2 { /* -------To style h2 sentence on The third cell (bigger than box) after the header------------ */
margin:0 0 -4px 0 !important;
margin:0 0 -20px 0;
padding:4px 0 10px 0;
font-family:Georgia, "Times New Roman", Times, serif;
color:#000000;
font-weight:bold;
}

.right { /* -------To set the class right div------------ */
float:right;
margin:5px;
padding:2px;
}

.left { /* -------To set the class left div------------ */
float:left;
margin:5px;
padding:2px;
}

.center { /* -------To set the class center div------------ */
width:auto;
margin-left:auto;
margin-right:auto;
}

#box_1 { /* -------To style and set The first box after the header------------ */
margin:0 5px 2em 0;
padding:8px;
float:left;
width:150px;
background-color:#cccccc;
}

#box_2 { /* -------To style and set The second box after the header------------ */
margin:0 7px 2em 14px;
padding:8px;
float:left;
width:150px;
background-color:#cccccc;
}

#box_3 { /* -------To style and set The third box after the header------------ */
margin:0 14px 2em 7px;
padding:8px;
float:left;
width:150px;
background-color:#cccccc;
}

#box_4 { /* -------To style and set The forth box after the header------------ */
margin:0 0 2em 5px;
padding:8px;
float:left;
width:150px;
background-color:#cccccc;
}

#box_1 p, #box_2 p, #box_3 p, #box_4 p { /* -------To style and set The pharagraph on first, second, third, and forth box after the header------------ */
font-size:.75em;
color:#000000;
}

#box_1 h2, #box_2 h2, #box_3 h2, #box_4 h2 { /* -------To style and set The h2 sentence first, second, third, and forth box after the header------------ */
font-family:Georgia, "Times New Roman", Times, serif;
color:#000000;
font-size:.8em;
} 

.button{
	text-align:center;
	padding: 15px 25px;
	border: solid black;
	color: black;
	width: 100%;
	background-color: #cccccc;
	align-items: center;
}

.button:hover{
	background-color: gainsboro;
}

#footer { /* -------To style and set The footer of the page------------ */
position:relative;
clear:both;
bottom:0;
margin:5em 0 0 0;
padding:0;
height:4em;
line-height:4em;
text-align:center;
font-size:.7em;
background-color:#cccccc;
}



/*---This is for left and right column---*/
.column.side {
  width: 30%; 
  float: left;
  padding: 1%; 
  border: solid black; 
  margin: 2% 0.5% 2% 0%;
  text-align: center;
}

.column.side:hover {
  background-color: lightgrey;
}

/*---This Middle column----*/
.column.middle {
  width: 30%; 
  float: left; 
  padding: 1%; 
  border: solid black; 
  margin: 2% 0.5% 2% 0;
  text-align: center;
}

.column.middle:hover {
  background-color: lightgrey;
}

/*---This Middle column----*/
.column.right {
  width: 30%; 
  float: left; 
  padding: 1%; 
  border: solid black; 
  margin: 2% 0.5% 2% 0;
  text-align: center;
}

.column.right:hover {
  background-color: lightgrey;
}

/*---Clear floats after the columns----*/
.row:after {
  content: "";
  display: table;
  clear: both;
    
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
	@media screen and (max-width: 600px) {
.column.side, .column.middle {
    width: 100%;
    }
    
.content1 { /* Put your content images here in the div (style 1) */
            float:left;
            width : 1100px; 
            height : 270px;
            background: #ffffff;
           	margin:5px;
           	text-align: center;
			padding:2%;
			border: 5px solid black;
}

.content2 { /* Put your content writing here in the div (style 1) */
			float:right;
            background: #ffffff;
            padding:2%; 
            min-height:400px;
            width:800px;
            height: 220px;
			border: 5px  solid black;	
}
/* for 750 centered, and backward compatibility */ 

#doc{
	margin:auto;
	text-align:center;
	width:750px;
}
/*This is style for every div that include social media*/

.content{
	height:300px;
    text-align: center;
	padding:0;
    border: 7px solid black;
		}	}

/*--Login CSS--*/

.login-page {
  width: 360px;
  padding: 8% ;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #26C4C2;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
	
