@charset "utf-8";
/* CSS Document */

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 87.5%;
	line-height: 1.5;
	background-color:#ffffff;
	text-align:left;
}

a {
	text-decoration: none;
}

a:hover { 
	color:#ffffff;
	text-decoration:none;
}

h2 { 
	margin:0 auto;
	padding:12px 0 0 0;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:1.1em;
}

h3 {
	margin: 0 auto;
	padding:12px 0 0 0;
	font-size:13px;
	font-weight:lighter;
	letter-spacing:2px;
}

hr {
	margin-bottom:20px;
	border:none;
	width:100%;
	color:#eeeeee;
	background-color:#eeeeee;
	height:1px;
	clear:both;
}

.body{
	margin: 0 auto;
	clear:both;
	width: 70%;
}

#header img {
	width: 100%;
	height: auto;
	margin: 2% 0;
	
}

#postHeader{
	width: 100%;
	text-align: right;
	font-size: 11px;
}

#navbar{
	margin: 5px 0 ;
	background-color:#cccccc;
	height: 40px;
}

#navbar ul{
	list-style: none;
	margin: 0 auto;
	padding-left: 0px;
}

#navbar ul li{
	float:left;
	display: inline;
}

#navbar ul li a{
	display: inline-block;
	color: white;
	padding: 10px 15px;
	height: 20px;
}

#navbar a:hover {
	background-color: darkgrey;
	color: black;
}

#navbar1{
	margin: 5px 0 ;
	background-color:#cccccc;
	height: 40px;
}

#navbar1 ul{
	list-style: none;
	margin: 0 auto;
}

#navbar1 ul li{
	float:left;
	display: inline;
}

#navbar1 ul li a{
	display: inline-block;
	color: white;
	padding: 10px 15px;
	height: 20px;
}

#navbar1 a:hover {
	background-color: darkgrey;
	color: black;
}

#header {
	margin:0 auto;
	background-color: #cccccc;
	border-top:5px solid #ffffff;
	text-align: center;
}

#header h1 { 
	margin:0 auto;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:100%;
	font-weight:lighter;
	letter-spacing:2.5px;
	color:#000000;
}

#header h2 { 
	margin:0 auto;
	padding:1em 0 0 30px;
	font-size: 100%;
	font-weight:300;
	letter-spacing:2px;
	color:#000000;
}

#cell_1 { /* -------To style and set The first cell (bigger than box) after the header------------ */
	margin:0 0 2% 0;
	padding:8px;
	float:left;
	width:30%;
	height:450px;
	background-color:#cccccc;
}

#cell_2 { /* -------To style and set The first cell (bigger than box) after the header------------ */
	margin:0 2% 2% 2%;
	padding:8px;
	float:left;
	width:30%;
	height:450px;
	background-color:#cccccc;
}

#cell_3 { /* -------To style and set The first cell (bigger than box) after the header------------ */
	margin:0 0 2% 0;
	padding:8px;
	float:left;
	width:30%;
	height:450px;
	background-color:#cccccc;
}

#cell_4 { /* -------To style and set The first cell (bigger than box) after the header------------ */
	margin:0 0 2% 0;
	padding:8px;
	float:left;
	width:30%;
	height:450px;
	background-color:#cccccc;
}

#cell_5 { /* -------To style and set The first cell (bigger than box) after the header------------ */
	margin:0 2% 2% 2%;
	padding:8px;
	float:left;
	width:30%;
	height:450px;
	background-color:#cccccc;
}

#cell_6 { /* -------To style and set The first cell (bigger than box) after the header------------ */
	margin:0 0 2% 0;
	padding:8px;
	float:left;
	width:30%;
	height:450px;
	background-color:#cccccc;
}

#cell_7 { /* -------To style and set The first cell (bigger than box) after the header------------ */
	margin:0 0 2% 0;
	padding:8px;
	float:left;
	width:30%;
	height:450px;
	background-color:#cccccc;
}

#cell_8 { /* -------To style and set The first cell (bigger than box) after the header------------ */
	margin:0 2% 2% 2%;
	padding:8px;
	float:left;
	width:30%;
	height:450px;
	background-color:#cccccc;
}

#cell_9 { /* -------To style and set The first cell (bigger than box) after the header------------ */
	margin:0 0 2% 0;
	padding:8px;
	float:left;
	width:30%;
	height:450px;
	background-color:#cccccc;
}

#cell_1 h2, #cell_2 h2, #cell_3 h2, #cell_4 h2, #cell_5 h2, #cell_6 h2, #cell_7 h2, #cell_8 h2, #cell_9 h2 {
	margin:0 auto;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#000000;
	font-weight:bold;
}

#cell_1 p, #cell_2 p, #cell_3 p, #cell_4 p, #cell_5 p, #cell_6 p, #cell_7 p, #cell_8 p, #cell_9 p { 
	font-size:12px;
	color:#000000;
}

#cell_1 img,  #cell_3 img, #cell_4 img, #cell_5 img, #cell_6 img, #cell_7 img, #cell_8 img, #cell_9 img {
	display: block;
	width: 80%;
	height: auto;
}

#cell_2 img {
	width: 60%
}

.button{
	text-align:center;
	padding: 15px 25px;
	border: solid black;
	color: black;
	width: 100%;
	background-color: #cccccc;
	align-items: center;
}

.button:hover{
	background-color: gainsboro;
}

.column.side {
  width: 29%; 
  float: left;
  padding: 1%; 
  border: solid black; 
  margin: 0 0 2% 0;
  text-align: center;
}

.column.side:hover {
  background-color: lightgrey;
}

/*---This Middle column----*/
.column.middle {
  width: 29%; 
  float: left; 
  padding: 1%; 
  border: solid black; 
  margin: 0 2% 2% 2%;
  text-align: center;
}

.column.middle:hover {
  background-color: lightgrey;
}

/*---This Middle column----*/
.column.right {
  width: 29%; 
  float: left; 
  padding: 1%; 
  border: solid black; 
  margin: 0 0 2% 0;
  text-align: center;
}

.column.right:hover {
  background-color: lightgrey;
}

.content1 iframe {
		width: 600px;
		height: 450px;
	}

#footer { /* -------To style and set The footer of the page------------ */
	position:relative;
	clear:both;
	bottom:0;
	margin:5em 0 0 0;
	padding:0;
	height:4em;
	line-height:4em;
	text-align:center;
	font-size:.7em;
	background-color:#cccccc;
}

@media only screen and (min-width:150px) and (max-width:400px){
	
	.body{
		margin: 0 auto;
		clear:both;
		width: 98%;
	}
	
	#postHeader{
		display: block;
	}
	
	#navbar{
		background-color:#cccccc;
		height: 160px;
	}

	#navbar ul{
		padding-left: 0px;
		
	}

	#navbar ul li{
		width: 100%; 
		text-align: center;
	}

	#navbar ul li a{
		color: white;
		display:block; 
		padding: 10px 15px;
		height: 20px;
	}

	#navbar a:hover {
		background-color: darkgrey;
		color: black;
	}
	
	#header img {
		width: 100%;
		height: auto;
		margin: 2% 0;
	}
	
	#cell_1 {
		margin:0 0 2% 0;
		padding:8px;
		float:none;
		width:97%;
		height:30%;
		background-color:#cccccc;
	}

	#cell_2 { 
		margin:0 0 2% 0;
		padding:8px;
		float:none;
		width:97%;
		height:30%;
		background-color:#cccccc;
	}

	#cell_3 {
		margin:0 0 2% 0;
		padding:8px;
		float:none;
		width:97%;
		height:30%;
		background-color:#cccccc;
	}

	#cell_4 { 
		margin:0 0 2% 0;
		padding:8px;
		float:none;
		width:97%;
		height:30%;
		background-color:#cccccc;
	}

	#cell_5 {
		margin:0 0 2% 0;
		padding:8px;
		float:none;
		width:97%;
		height:30%;
		background-color:#cccccc;
	}

	#cell_6 { 
		margin:0 0 2% 0;
		padding:8px;
		float:none;
		width:97%;
		height:30%;
		background-color:#cccccc;
	}

	#cell_7 { 
		margin:0 0 2% 0;
		padding:8px;
		float:none;
		width:97%;
		height:30%;
		background-color:#cccccc;
	}

	#cell_8 {
		margin:0 0 2% 0;
		padding:8px;
		float:none;
		width:97%;
		height:30%;
		background-color:#cccccc;
	}

	#cell_9 {
		margin:0 0 2% 0;
		padding:8px;
		float:none;
		width:97%;
		height:30%;
		background-color:#cccccc;
	}

	
	#cell_1 img,  #cell_3 img, #cell_4 img, #cell_5 img, #cell_7 img, #cell_8 img, #cell_9 img {
		display: block;
		width: 35%;
	}
	
	#cell_2 img, #cell_6 img{
		width:30%;
	}
	
	.column.side {
  		width: 97%; 
  		float: none;
  		padding: 1%; 
  		border: solid black; 
  		margin: 0 0 2% 0;
  		text-align: center;
	}

	.column.middle {
	  	width: 97%; 
	  	float: none; 
	  	padding: 1%; 
	  	border: solid black; 
	  	margin: 0 0 2% 0;
	  	text-align: center;
	}

	.column.right {
	  	width: 97%; 
	  	float: none; 
	  	padding: 1%; 
	  	border: solid black; 
	  	margin: 0 0 2% 0;
	  	text-align: center;
	}

	#footer { /* -------To style and set The footer of the page------------ */
		position:relative;
		clear:both;
		bottom:0;
		margin:5em 0 0 0;
		padding:0;
		height:4em;
		line-height:4em;
		text-align:center;
		font-size:.7em;
		background-color:#cccccc;
	}
	
	.content1 iframe {
		width: 500px;
		height: 500px;
	}
	
}

@media only screen and (min-width:401px) and (max-width:800px){
	.body{
		margin: 0 auto;
		clear:both;
		width: 98%;
	}
	
	#postHeader{
		display: block;
	}
	
	#navbar{
		background-color:#cccccc;
		height: 160px;
	}

	#navbar ul{
		padding-left: 0px;
		
	}

	#navbar ul li{
		width: 100%; 
		text-align: center;
	}

	#navbar ul li a{
		color: white;
		display:block; 
		padding: 10px 15px;
		height: 20px;
	}

	#navbar a:hover {
		background-color: darkgrey;
		color: black;
	}
	
	#header img {
		width: 100%;
		height: auto;
		margin: 2% 0;
	}
	
	#cell_1 {
		margin:0 0 2% 2%;
		padding:8px;
		float:left;
		width:42%;
		height:400px;
		background-color:#cccccc;
	}

	#cell_2 { 
		margin:0 2% 2% 2%;
		padding:8px;
		float:left;
		width:42%;
		height:400px;
		background-color:#cccccc;
	}

	#cell_3 {
		margin:0 0 2% 2%;
		padding:8px;
		float:left;
		width:42%;
		height:400px;
		background-color:#cccccc;
	}

	#cell_4 { 
		margin:0 2% 2% 2%;
		padding:8px;
		float:left;
		width:42%;
		height:400px;
		background-color:#cccccc;
	}

	#cell_5 {
		margin:0 0 2% 2%;
		padding:8px;
		float:left;
		width:42%;
		height:400px;
		background-color:#cccccc;
	}

	#cell_6 { 
		margin:0 2% 2% 2%;
		padding:8px;
		float:left;
		width:42%;
		height:400px;
		background-color:#cccccc;
	}

	#cell_7 { 
		margin:0 0 2% 2%;
		padding:8px;
		float:left;
		width:42%;
		height:400px;
		background-color:#cccccc;
	}

	#cell_8 {
		margin:0 2% 2% 2%;
		padding:8px;
		float:left;
		width:42%;
		height:400px;
		background-color:#cccccc;
	}

	#cell_9 {
		margin:0 0 2% 2%;
		padding:8px;
		float:left;
		width: 90%;
		height:30%;
		background-color:#cccccc;
	}

	
	#cell_1 img,  #cell_3 img, #cell_4 img, #cell_5 img, #cell_7 img, #cell_8 img{
		width: 50%;
	}
	
	#cell_9 img {
		display: block;
		width: 35%;
	}
	
	#cell_2 img, #cell_6 img{
		width:40%;
	}
	
	.column.side {
  		width: 97%; 
  		float: none;
  		padding: 1%; 
  		border: solid black; 
  		margin: 0 0 2% 0;
  		text-align: center;
	}

	.column.middle {
	  	width: 97%; 
	  	float: none; 
	  	padding: 1%; 
	  	border: solid black; 
	  	margin: 0 0 2% 0;
	  	text-align: center;
	}

	.column.right {
	  	width: 97%; 
	  	float: none; 
	  	padding: 1%; 
	  	border: solid black; 
	  	margin: 0 0 2% 0;
	  	text-align: center;
	}

	#footer { /* -------To style and set The footer of the page------------ */
		position:relative;
		clear:both;
		bottom:0;
		margin:5em 0 0 0;
		padding:0;
		height:4em;
		line-height:4em;
		text-align:center;
		font-size:.7em;
		background-color:#cccccc;
	}
	
	.content1 iframe {
		width: 400px;
		height: 400px;
	}
	
}

@media only screen and (min-width:801px) and (max-width:1000px){
	.body{
		margin: 0 auto;
		clear:both;
		width: 98%;
	}
	
	#header img {
		width: 100%;
		height: auto;
		margin: 2% 0;
	}
	
	#navbar1{
		background-color:#cccccc;
		height: 40px;
	}

	#navbar1 ul{
		padding-left: 0px;
		list-style: none;
	}

	#navbar1 ul li{
		float:left;
		display: inline;
	}

	#navbar1 ul li a{
		display: inline-block;
		color: white;
		padding: 10px 8px;
		height: 20px;
	}

	#navbar1 a:hover {
		background-color: darkgrey;
		color: black;
	}
	
	#cell_1 {
		margin:0 0 2% 0;
		padding:8px;
		float:left;
		width:29%;
		height:400px;
		background-color:#cccccc;
	}

	#cell_2 { 
		margin:0 2% 2% 2%;
		padding:8px;
		float:left;
		width:29%;
		height:400px;
		background-color:#cccccc;
	}

	#cell_3 {
		margin:0 0 2% 0;
		padding:8px;
		float:left;
		width:29%;
		height:400px;
		background-color:#cccccc;
	}

	#cell_4 { 
		margin:0 0 2% 0;
		padding:8px;
		float:left;
		width:29%;
		height:400px;
		background-color:#cccccc;
	}

	#cell_5 {
		margin:0 2% 2% 2%;
		padding:8px;
		float:left;
		width:29%;
		height:400px;
		background-color:#cccccc;
	}

	#cell_6 { 
		margin:0 0 2% 0;
		padding:8px;
		float:left;
		width:29%;
		height:400px;
		background-color:#cccccc;
	}

	#cell_7 { 
		margin:0 0 2% 0;
		padding:8px;
		float:left;
		width:29%;
		height:400px;
		background-color:#cccccc;
	}

	#cell_8 {
		margin:0 2% 2% 2%;
		padding:8px;
		float:left;
		width:29%;
		height:400px;
		background-color:#cccccc;
	}

	#cell_9 {
		margin:0 0 2% 0;
		padding:8px;
		float:left;
		width:29%;
		height:400px;
		background-color:#cccccc;
	}
	
	#cell_1 img,  #cell_3 img, #cell_4 img, #cell_5 img, #cell_6 img, #cell_7 img, #cell_8 img, #cell_9 img {
		display: block;
		width: 60%;
		height: auto;
	}

	#cell_2 img {
		width: 40%
	}
}

@media only screen and (min-width:1001px) and (max-width:2000px){
	

	#navbar{
		display: none;
	}
	
	#navbar1 ul{
		padding-left: 0px;
	}
	

}	
